.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}
.googleSignInButton{
    font-size: 2.5rem;
    font-weight: 900;
    background-color: #f3f4f6;
    padding: .5rem;
}
.googelIcon{
    padding-right: 6px;
    padding: .5rem;
}