.notes{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.notesHeader{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    padding: .5rem 1rem;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    z-index: 1;
}
.notesHeader h1{
    margin: 0;
    font-size: 2.5rem;
}
.notesContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    padding: 0 1rem 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
}
.notesContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.addIcon{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

@media (max-width:450px) {
    .notesContainer{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 1rem;
    }
    .notesContainer > :nth-child(3n+3) {
        grid-column: 1 / span 2 ;
      }
}
