.notes {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.notesHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    z-index: 1;
}

.notesHeader h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.rightHeader input {
    padding: .4rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: .6rem;
}

.notesContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    padding: 0 1rem 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto minmax(250px 1fr);
    gap: 1rem;
}

.controlledContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    padding: 0 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.notesContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.addIcon {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

@media (max-width:450px) {
    .notesContainer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
    }
    .notesHeader{
        padding: .5rem 1.5rem;
    }
    .title {
        display: none;
    }

    .rightHeader {
        display: flex;
flex-direction: row;
        justify-content: space-between;
            }
    .searchBarRightHeader{
        width: 100%;
    }
    .searchIconRightHeader{
        gap: 1rem;
    }
    .rightHeader input {
        padding: .5rem;
        height: 1.5rem;
        font-size: 1rem;
        width: 100%;
    }

    .controlledContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .notesContainer> :nth-child(3n+3) {
        grid-column: 1 / span 2;
    }
}