.updateNote{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 1rem 1rem 1rem;
    gap: 2rem;
}
.updateNoteHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.updateNoterightHeader{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.updateNoteHeader button{
    background-color: #3B3B3B;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
    color: #FEFEFE;
    border: none;
}
.updateNoteMain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}
.updateNoteMain input{
    height: 4rem;
    font-size: 3rem;
    padding: .5rem;
    background-color: transparent;
    font-weight: bold;
    color: #FEFEFE;
}
.updateNoteMain textarea{
    height: 15rem;
    font-size: 2rem;
    padding: .5rem;
    background-color: transparent;
    font-weight: bold;
    color: #FEFEFE;
}
