:root{
  background-color: white;
  color: white;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  /* --backgroundColor: none; */
  overflow: hidden;
}
html,body,#root{
  background-color: white;
  color: white;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  /* --backgroundColor: none; */
}
@media (prefers-color-scheme: dark) {
  html,body,#root{
    background-color: white;
    overflow: hidden;
    color: white;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  } 
}