.card{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: .5rem;
    border-radius: .5rem;
    background-color: green;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}
.card p,h2{
    margin: 0;
    display: inline-block;
}