.card{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: .5rem;
    color: black;
    background-color: var(--backgroundColor);
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}
.deleteEnv{
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.732));
}
.card p,h2{
    margin: 0;
    display: inline-block;
}
.crossIcon{
        color: #1a2332;
        font-size:2rem;
        width: 1.5rem;
        display: flex;
        align-self: self-end;
}
h3{
    word-break: break-word;
}
h5{
    color: #878383;
    font-weight: 300;
}
p{
    font-size: 1rem;
}
h3,p,h5{
    margin: 0;
    white-space: pre-wrap;
}
.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    align-self: self-end;
    z-index: 1;
    background-color: white;
    border-radius: .5rem;
    padding: .4rem;
    gap: .4rem;
}