/* .signOut{
background-color: #3B3B3B;
width: 10rem;
padding: 0 .8rem;
border-radius: .6rem;
display: flex;
flex-direction: row;
}
.signOut h2{
    padding-top: 3px;
}
.signOutIconStyle{
    color: #ffffff;
    font-size:3rem;
    width: 1.5rem;
    padding: 0 .8rem;
    border-radius: .6rem;
} */
